.btnWrap {
  display: flex;
  justify-content: center;

  margin-top: 40px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 10px 30px 15px;
  
  color: white;
  background-color: #F44336;
  
  font-size: 20px;
  text-decoration: none;

  &:hover {
    background-color: #f53224;
  }
}
