.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 450px;
  margin: 0;
  padding: 10px;
  background-color: #000;
  background: linear-gradient(-45deg, #00537e, #3aa17e);
}