.header {
  min-height: 100px;
  color: #fff;
  background: linear-gradient(-45deg, #00537e, #3aa17e);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 10;
}
